<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<title>VideoChatSystem</title>
	<link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
	<script src="~/js/signalr/dist/browser/signalr.js"></script>
	<script src="~/js/signalr/dist/browser/signalr.min.js"></script>
	<script src="https://unpkg.com/peerjs@1.4.7/dist/peerjs.min.js"></script>
</head>
<body>
	<main role="main" class="pb-3">
		@RenderBody()
	</main>

	<script src="https://unpkg.com/peerjs@1.4.7/dist/peerjs.min.js"></script>
	<script src="~/js/custom/signalrservice.js"></script>
</body>
</html>
